@font-face
{
	font-family: 'raleway' ,sans-serif;
} 


body{
    font-family: 'raleaway',Arial,sans-serif;
    font-size: 16px;
    color: black;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 35px;
}

nav a
{
    font-size: 1.6em;
    color:black ;
    padding-top: 15px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.inscrire
{
	font-weight: bold;
	color: #0065FC;
	font-size: 1.6em;
}

h1{
    font-size: 20px;
}

.barreicone
{
	background-color:#F2F2F2;
	width: 38px;
	height: 40px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	display: flex;
	margin-top: 30px;
	border:none;
	padding-right: 10px;
}

.barresearch
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18px 0px 18px 18px;
	margin: 0px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

#search
{
	margin: 18px 0px 18px 18px;
	border: none;
	padding: 12px 12px 12px 12px ;
}

button
{
	background-color: #0065FC;
	border:none;
	color: white;
	height: 42px;
	border-bottom-right-radius:10px;
	border-top-right-radius: 10px;
	padding-right: 18px;
	padding-left: 18px;
	font-weight: bold;
}

.allFilters
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start
}

.filtre
{
	margin-right: 40px;
	margin-top: 20px;
	padding: 5px;
	font-weight: bold;
}

.iconename
{
	display: flex;
	align-items:center;
	margin:20px 40px 0px 0px ;
	border: 3px solid #F2F2F2;
	border-radius: 80px;
	font-weight:bold;
	padding: 0px 50px 0px 0px;
	width: auto;
}

.iconename:hover
{
	background-color:#DEEBFF;
	color: #0065FC;
}

.iconemoney
{
	color:#0065FC;
	border-radius:70%;
	padding:10px;
	background-color:#DEEBFF;
	margin:0px;
}

.iconefamille
{
	color:#0065FC;
	border-radius:70%;
	padding:10px;
	background-color:#DEEBFF;
	margin:0px;
	width: 15px;
}

.iconeheart
{
	color:#0065FC;
	border-radius:70%;
	padding:10px;
	background-color:#DEEBFF;
	margin:0px;
}

.iconedog
{
	color:#0065FC;
	border-radius:70%;
	padding:10px;
	background-color:#DEEBFF;
	margin:0px;
}

.info
{
	display:flex;
	flex-direction: row;
	border: none;

}

.iconeinfo
{
	align-items: center;
	color:#0065FC ;
	border-radius:70%;
	padding:10px 10px 10px 15px;
	background-color: white;
	margin: 15px 15px 15px 0px;
	border: 2px solid#F2F2F2;
	width: 10px;
}

.phraseinfo
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: grey;
}

section 
{
	flex-wrap: wrap;
	width: 800px;
	background-color: #F2F2F2;
	padding: 20px;
	border-radius: 10px;
	margin-left: 20px;
}

figure
{
	display: flex;
	margin: 10px;
	flex-wrap: wrap;
	border: none;
	padding:5px;
	width: 230px;
	background-color: white;
	border-radius: 10px;
}

figcaption.legende
{	
	display: flex;
	flex-direction: column;
	max-width:150px ;
}

.iconestars
{
	padding: 5px;
	color: #0065CF;
}

.imgsection
{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.iconestars
{
	display: flex;
	flex-direction: row;

}

h2
{
	padding: 0px;
	margin: 0px;
	height: 40px;
	width: 100%;
}

h3
{
	width: 300px;
	margin:0px;
	padding: 15px 0px 15px 5px ;
}

.Afficherplus
{
	font-weight: bold;
	padding-left: 10px;
}

aside
{
	display: flex;

	flex-direction: column;
	margin-left: 70px;
	background-color: #F2F2F2;
	border-radius: 10px;
	width: 350px;
	padding: 5px;
}

main
{
	display: flex;
	flex-direction: row;
}

.titre
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

 aside figure 
{
	height: 130px;
	width:300px;
	flex-direction: column;
}

.Afficherplus
{
	display: flex;
	justify-content:flex-end;
	align-items: flex-end;
}

.sectionaside
{
	display:flex;

}

.pop
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.imgaside
{
	display: block;
	justify-content: flex-start;
	align-items: flex-start;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin:0px;

}

.photosection2
{
	margin: 0px;
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;

	max-width: 100%;
	max-height: 500px;
	font-weight: bold;
}

h2.Activité
{
	width: 100%;
	padding:5px ;
	margin:10px 10px 10px 0px ;
}


.imgactivité
{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	width: 280px;
	height: 118px;
	object-fit: cover;

}

.imgactivité1
{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	width: 280px;
	height: 305px;
	object-fit: cover;
}

.imgactivité2
{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	width: 280px;
	height: 118px;
	object-fit: cover;
	object-position: top;

}

.figactivité 
{
	height: auto;
	padding: 0px 0px 5px 0px;
	border: 2px solid ;
	width: 280px;
	margin: 10px 5px 10px 10px;
	border-radius: 17px;
}


figcaption
{
	color: black;
	padding: 10px ;
	margin-left: 0px;

}

.section2
{
	width: auto;
	margin: 30px 0px 30px 0px;
	background-color: white;
}

footer
{

	display: flex;
	justify-content: space-around;
	flex-direction: row;
	background-color: #F2F2F2;

}

.liste ul
{
	list-style-type: none;
	padding-left: 0px;

}

.liste li
{
	padding: 3px 0px 10px 0px;
}


@media screen and (max-width:900px)

{

		header
	{
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		flex-direction: column;
	}

		nav ul
	{
		list-style-type: none;
		display: flex;
		align-self: center;
	}

		nav li
	{
		margin-right: 35px;
		display: flex;
	
	}

		nav a
	{
		font-size: 1.6em;
		color:black ;
		text-decoration: none;


	}

		nav a:hover
	{
		color: #0065FC;
		border-top: 2px solid #0065FC;
	}

		.inscrire
	{
		position:absolute;
		top: 0px;
		right: 0px;
		padding-top: 20px;
	}

	
}	
